.best-choice-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
  
  .best-choice-heading {
    margin: 4rem 0 3rem;
    width: 40rem;
    text-align: center;
    font-size: 1.3rem;
  }
  
  .choices-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }
  
  .choice-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 26rem;
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 0.8s ease-out, transform 0.8s ease-out; 
  }
  
  .choice-card.visible {
    opacity: 1;
    transform: translateY(0); 
  }
  
  .choice-image {
    width: 26rem;
    height: 21rem;
    border-radius: 4rem;
    object-fit: cover;
  }
  
  .choice-description {
    color: rgb(53, 51, 51);
  }
  
  .choice-bottom-notes {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 6rem;
    width: 70rem;
    padding: 1rem;
    background-color: rgb(224, 224, 142);
    border-radius: 2rem;
    margin-bottom: 8rem;
  }
  
  .choice-bottom-notes h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
  }
  
  .choice-bottom-notes img {
    width: 40px;
    height: auto;
    object-fit: contain;
  }
  
  @media (max-width: 768px) {
    .choice-card {
      width: 90%; 
    }
    
    .best-choice-heading {
      width: 90%; 
    }
    
    .choice-bottom-notes {
      flex-direction: column; 
      align-items: center; 
      width: 90%;
    }
    
    .choice-bottom-notes h3 {
      justify-content: center; 
      margin-bottom: 1rem; 
    }
  }
  